<style>
    .hint {
        /* Position the hint */
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        /* Copy styles from ng-messages */
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        /* Set our own color */
        color: grey; }
    .inputdemoErrorsAdvanced {
        /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
        /* Setup animations similar to the ng-messages */ }
    .inputdemoErrorsAdvanced .hint {
        /* Position the hint */
        position: absolute;
        left: 2px;
        right: auto;
        bottom: 7px;
        /* Copy styles from ng-messages */
        font-size: 12px;
        line-height: 14px;
        transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        /* Set our own color */
        color: grey; }
    .inputdemoErrorsAdvanced .hint.ng-hide,
    .inputdemoErrorsAdvanced .hint.ng-enter,
    .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
        bottom: 26px;
        opacity: 0; }
    .inputdemoErrorsAdvanced .hint.ng-leave,
    .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
        bottom: 7px;
        opacity: 1; }

    .paddtop{
        padding-top: 60px
    }


</style>
<!--<div layout="column" layout-fill>-->
<form name="catUsuariosDetalleForm" novalidate ng-submit="$ctrl.clickGuardar()" layout="column" layout-fill>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span class="md-truncate" style="position: absolute; top: 13px; bottom: 13px;">AVANCE DE PROYECTO</span>
            <span flex></span>
            <md-button class="md-raised" aria-label="Learn More" type="submit">
                GUARDAR
            </md-button>
            <md-button class="md-raised" aria-label="Learn More" ng-disabled="$ctrl.forma.disables['btnCerrar']" ng-click="$ctrl.clickSalir()">
                SALIR
            </md-button>
        </div>
    </md-toolbar>

    <md-content layout-padding style="margin-top: 10px;">
        <!-- PROYECTO ------------------------------------------>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>DATOS DEL PROYECTO</span>
            </div>
        </md-toolbar>
        <br>
        <md-input-container class="md-block " flex-gt-sm >
            <label>NOMBRE DEL PROYECTO</label>
            <input ng-model="$ctrl.vm.m.p.txNmbrProy" ng-required="true" ng-disabled="true">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>NOMBRE CORTO</label>
            <input ng-model="$ctrl.vm.m.p.txNmbrProyCrto" ng-required="true" ng-disabled="true">
        </md-input-container>

        <!-- REPORTE DE AVANCE ------------------------------------------>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>REPORTE DE AVANCE</span>
            </div>
        </md-toolbar>
        <br>
        <md-input-container class="md-block" flex-gt-sm>
            <label>FECHA DE CORTE</label>
            <md-datepicker ng-model="$ctrl.vm.m.av.fhReporte" md-min-date="$ctrl.vm.m.av.fhReporteAnt" required></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>AVANCE COMPROMETIDO</label>
            <input ng-model="$ctrl.vm.m.av.prComprometido" ng-required="true" ng-disabled="true">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>AVANCE REAL</label>
            <input ng-model="$ctrl.vm.m.av.prReal" ng-required="true" type="number" min="0" max="100">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>AVANCE SIGUIENTE CORTE</label>
            <input ng-model="$ctrl.vm.m.av.prSigCorte" ng-required="true" type="number" min="0" max="100">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>ACCIONES DE LA SEMANA</label>
            <input ng-model="$ctrl.vm.m.av.txAccnSemana" ng-required="false">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>SIGUIENTES ACCIONES</label>
            <input ng-model="$ctrl.vm.m.av.txAccnSiguiente" ng-required="false">
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm >
            <label>RIESGOS</label>
            <input ng-model="$ctrl.vm.m.av.txAccnRiesgos" ng-required="false">
        </md-input-container>

    </md-content>
</form>
<!--</div>-->